#wrapper
{
    display: flex;
    flex-wrap: wrap;
    margin:100px;
    justify-content: center;
}

#wrapper .card
{
    margin: 15px;
    min-width: 18rem;
}

h1
{
    text-align: center;
    background-color: rgb(27, 4, 158);
    color: wheat;
    height: 100px;
}